.contactfinal{
    padding-top:200px;
    background-color: white;
    height:100vw-200px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.contact{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #f6f8ff;
    padding:5rem;

}
.inputform{
    width:40vw;
    border: none;
    background-color: #C1C7D8;
    padding:1rem;
    margin:20px;
    font-family: "Bebas Neue", cursive;
}
.contacttext{
    font-family: "Bebas Neue", cursive;
    color:black;
    font-size:250%;
}
.but{
    width:20vw;
    padding:.5rem;
}
.inputform:hover{
    background-color: rgb(32, 37, 42);
    color:white;
    transition: .5s;
}
.email{
    opacity:0;
    transition: .5s;

}
.sent{
    opacity:100;
    transition: .5s;
}