.packagesbig {
  padding-top: 150px;
  max-height: 100%;
  overflow: hidden;
}
.packagesflex {
  /* width:100vw;
    display:flex;
    flex:1 1 0;
    flex-direction: row; */
  /* justify-content: center;
    align-items: flex-start; */
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}
.picflex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.solo {
  height: 50vh;
  width: auto;
}
.so {
  align-items: flex-end;
}
.pl {
  align-items: flex-start;
}
.soloplus {
  height: 50vh;
  width: auto;
}
.packagestext {
  text-align: center;
}
